{% extends 'main/main_profile.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="rounded-top text-white d-flex flex-row profile-header" style="background: linear-gradient(45deg, #FFD700, #FFA500);">
          <div class="ms-4 mt-3 profile-picture" style="width: 180px; height:180px" >

            <img src="{{ user_profile.profile_pic.url }}" alt="Profile Picture" class="img-fluid" style="width: 100px;">
          </div>
          <div class="ms-3" style="margin-top: 30px;">
            <!-- Utilisez les données réelles de user_profile -->
            <h5>{{ user_profile.user.username }}</h5>
            <p>{{ user_profile.location }}</p>
          </div>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_bio" class="form-label">Bio</label>
              <textarea class="form-control" id="id_bio" name="bio">{{ user_profile.bio }}</textarea>
            </div>
            <div class="mb-3">
              <label for="id_location" class="form-label">Location</label>
              <input type="text" class="form-control" id="id_location" name="location" value="{{ user_profile.location }}">
            </div>
            <div class="mb-3">
              <label for="id_profile_pic" class="form-label">Profile Picture</label>
              <input type="file" class="form-control" id="id_profile_pic" name="profile_pic">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
