{% extends 'main/main_profile.html' %}
{% load static %}
{% block content %}

<body>

  <div class="main-content">
    <div class="container mt-7">
      <div class="row">
        <div class="col-xl-9 m-auto order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <img src="{{ user_profile.profile_pic.url }}" alt="{{ user_profile.username }}"  class="rounded-circle" >
                </div>
                  <button class="navbar-toggler d-block d-sm-block d-md-none" style="margin-left: -20px; color: #CB6CE6; margin-top: 20px;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon d-none d-md-inline"></span>
                      <span class="navbar-toggler-icon d-md-none"></span>
                      <i class="fas fa-bars"></i>
                    </button>
              </div>
            </div>
            <div class="card-header text-center  ">
            </div>
              <div class="vh-100 d-flex align-items-center position-fixed start-0 top-0" role="navigation" >
                <div class="container-fluid">
                  <div id="mainNav" class="navbar-expand-md" >

                      <div  id="navbarNavDropdown" class="navbar-collapse collapse">
                          <ul class="list-unstyled rounded ms-2" style="background :#D3D3D3">
                      <li><a class="vlink rounded border-0" style="color:#072D60" href="{% url 'home'%}"><i class="fas fa-home"></i><span>Home</span></a></li>
                      <li><a class="vlink rounded" href="#"><i class="fas fa-cogs" style="color:#072D60"></i> <span>Edit profile</span></a></li>
                      <li><a class="vlink rounded" href="#"><i class="fas fa-pencil-alt" style="color:#072D60"></i> <span>Fait une publication</span></a></li>
                        <li><a class="vlink rounded" href="#"><i class="fas fa-utensils" style="color:#072D60"></i> <span>Restaurant</span></a></li>
                      <li><a class="vlink rounded" href="#"><i class="fas fa-glass-martini" style="color:#072D60"></i> <span>Bar</span></a></li>
                      <li><a class="vlink rounded" href="#"><i class="fas fa-music" style="color:#072D60"></i> <span>Boite de nuit</span></a></li>
                      <li><a class="vlink rounded" href="#"><i class="fas fa-globe" style="color:#072D60"></i> <span>Tourisme</span></a></li>
                        <li><a class="vlink rounded" href="#"><i class="fas fa-power-off" style="color:#072D60"></i> <span>Deconexión</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">{{post_counts}}</span>
                      <span class="description">Publication</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h1>
                    {{ user_profile.user.username }}
                </h1>
                <div class="h5 font-weight-300 ">
                  <i class="ni location_pin mr-2">{{ user_profile.location }}</i>
                </div>
                <div>
                  <i class="ni education_hat mr-5 " ></i>Biographie

                  <p class="ni education_hat mr-5">{{ user.userprofile.bio }}</p>
                 </div>
              </div>
                <hr class="my-4">
                <h2 class="posts-entry-title">{{post_counts}} Publication realiser par {{user_profile.user.username }}</h2>

               <section class="section posts-entry posts-entry-s bg-light">
                <div class="container ">
                    <div class="row ">
                        {% for post in user_posts %}
                            <div class="col-md-6 col-lg-4 ">
                                <hr class="my-4">
                                <div class="blog-entry">

                                    {% if forloop.counter0|divisibleby:3 %}

                                    {% endif %}


                                    <div class="col-sm-20">

                                    <h3 class="entry-title" style="color:black;">{{ post.title }}</h3>
                                        </div>
                                    <a href="{% url 'post' post.id %}" class="img-link">
                                        <img src="{{ post.imagen_posts.url }}" width="{{ post.image_width }}" height="{{ post.image_height }}" alt="{{ post.title }}" style="border-radius: 10px;">
                                    </a>

                                        {% for i in "12345" %}
                                        {% with rating=forloop.counter %}
                                            <span class="fa fa-star{% if rating <= post.average_rating %} fa-star-filled{% endif %}"></span>
                                        {% endwith %}
                                    {% endfor %}
                                     <span class="date">{{ post.created_at|date:"F d, Y" }}</span>
                                     <p class="user-posts">
                                        <img src="{{ post.user.userprofile.profile_pic.url }}" alt="{{ post.user.userprofile.profile_pic.url }" class="rounded-circle" width="30" height="30">
                                        <span class="username">{{ post.user.username }}</span>
                                    </p>

                                    <h3 class="description" style="color: #072D60;">{{ post.description }}</h3>

                                    <p><a href="{% url 'post' post.id %}" class="btn my-button" style="margin-button:10px;">Lire</a></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if user_posts|length == 0 %}
                        <p class="text-center" style="margin-top:100px;">Aucune publication disponible.</p>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
</div>
    </div>
    </div>
    </div>
</body>

{% endblock %}
