{% extends 'main/main_categorie.html' %}
{% load static %}
{% block content %}


<style>
  .card-title { /* Ajout du point pour indiquer une classe CSS */
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 5px;
    margin-top: 1rem;
  }
  .card-text {
    font-size: 1rem;
    text-align: center;
  }
</style>


<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh; background-color: rgba(255, 0, 0, 0.1);">
  <div class="card border-danger mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ post.imagen_posts.url }}" class="img-fluid rounded-start" alt="{{post.title}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Effacer</h5>
          <p class="card-text">Êtes-vous sûr de vouloir supprimer "{{ post.title }}" ?</p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <form method="POST" action="">
        {% csrf_token %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <input class ="btn btn-danger" type="submit" value="Supprimer">
          <a type="button" class="btn btn-secondary" href="{{request.GET.next}}">Annuler</a>
        </div>
      </form>
    </div>
  </div>
  <div class="text-center">
    <!-- Placez d'autres éléments ici si nécessaire -->
  </div>
</div>
{% endblock %}
