{% extends 'main/main_form_post.html' %}
{% load static %}
{% block content %}

<style>
  body {
    background: #072D60;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }


  .custom-section {
    background: white;
    padding: 10px;
    border-radius: 10px;

  }

  .custom-form {
    border-radius: 5px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

   .custom-input, .custom-textarea, .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
  }

  .my-button {
    background-color: #072D60;
    color: white;
    transition: background-color 0.3s;
    font-size: 0.8rem;
    transition: transform 0.2s;
  }

  .my-button:hover {
    background-color: #CB6CE6;
    color: white;
    transform: scale(0.9);
  }

  .my-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: #007BFF;
    transition: height 0.2s;
  }
</style>

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icofont-close js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>
<div class="custom-section p-3">
  <div class="logo-container text-center mb-4" style="padding: 5px;">
    <img src="{% static 'logo/spotmytown4.png' %}" alt="spotmytown" width="300">
  </div>
  <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-2 custom-field">
        <div class="form-group">
          {{ field }}
        </div>
      </div>
    {% endfor %}
     <div class="d-grid">
       <button type="submit" class="btn my-button btn-lg me-sm-0 mb-0 mb-sm-0">Cree un publication</button>
     </div>
  </form>
</div>
{% endblock content %}
