{% extends 'main/main_form_post.html' %}
{% load static %}
{% block content %}

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icofont-close js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>
<div class="custom-section p-3">
  <div class="logo-container text-center mb-4" style="padding: 5px;">
    <img src="{% static 'logo/spotmytown4.png' %}" alt="spotmytown" width="300">
  </div>
  <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-2 custom-field">
        <div class="form-group">
          {{ field }}
        </div>
      </div>
    {% endfor %}
     <div class="d-grid">
       <button type="submit" class="btn my-button btn-lg me-sm-0 mb-0 mb-sm-0">Cree un publication</button>
     </div>
  </form>
</div>
{% endblock content %}
