{% extends 'main/main_posts.html' %}
{% load static %}
{% block content %}

<style>
 @import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
    @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

#mainNavigation a {
      font-family: 'Cabin', sans-serif;
      font-size:14px;
      text-transform:uppercase;
      letter-spacing:2px;
      text-shadow:1px 1px 2px rgba(0,0,0,0.6)

}

.dropdown-menu {
   background:#03727d
}
a.dropdown-toggle {
   color:#dfdfdf !important
}
a.dropdown-item:hover {
   color:#03727d !important
}
.nav-item a{
   color:#dfdfdf;
}
.nav-item a:hover {
   color:#fff
}
.nav-item{
   min-width:12vw;
}
#mainNavigation {
   position:fixed;
   top:0;
   left:0;
   width:100%;
   z-index:123;
   padding-bottom:120px;


      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }
    #navbarNavDropdown.collapsing .navbar-nav,
    #navbarNavDropdown.show .navbar-nav{
      background:#037582;
      padding:12px;
    }

}

.user-profile span {
   font-family: 'Cabin', sans-serif;
   letter-spacing:2px;
   font-weight: bold;
   margin-top: 10px;
   color: #fff;

}

.user-profile {
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 32px;
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   cursor: pointer;
}

.user-profile span {
    font-family: 'Cabin', sans-serif;
    letter-spacing:1px;
    margin-top: 5px;
    color: #fff;

}

.user-profile img {
   border: 0.5px solid ;
}

.user-posts{
   margin-top: 10px;
}

.comment-list {
   margin-top: 20px;
}

.rating {
      border: none;
      margin-right:32px;
}
.myratings{

  font-size: 85px;
  color: ##214252;
}

.rating > [id^="star"] { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > [id^="star"]:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > [id^="star"]:checked + label:hover, /* hover current star when changing rating */
.rating > [id^="star"]:checked ~ label:hover,
.rating > label:hover ~ [id^="star"]:checked ~ label, /* lighten current selection */
.rating > [id^="star"]:checked ~ label:hover ~ label { color: #FFED85;  }

.reset-option {
display: none;
}

.reset-button {
margin: 6px 12px;
background-color: #214252;
text-transform: uppercase;

}



.mt-100 {
     margin-top: 100px
 }

 .card {
     position: relative;
     display: flex;
     width: 400px;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #d2d2dc;
     border-radius: 11px;
     -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
     -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
     box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
 }

 .card .card-body {
     padding: 1rem 1rem
 }

 .card-body {
     flex: 1 1 auto;
     padding: 1.25rem
 }

 p {
     font-size: 14px
 }

 h4 {
     margin-top: 18px
 }

 .fa-star-filled {
    color:#FFD700 ;
  }

.votes {
    margin-left: 20px;
}

.user{
    margin-top: -20px;
}

.social-icons {
    list-style: none;
    padding: 0;
    }

.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.social-icons i {
    border: 1px solid ;
    padding: 5px;
    border-radius: 25%;
    color:#CB6CE6;
}

.social-icons i:hover {
	color: #fff;
	background-color: #CB6CE6;
}

.with-border {
    border: 1px solid;
    border-radius: 20%;
    padding: 8px;
}

.with-border:hover {
    background-color: #214252;
    color: white;
}

.footer-basic {
  padding:40px 0;
  background-color:#072D60;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:white;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:3;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#CB6CE6;
  margin-bottom:0;
}


</style>

<div id="mainNavigation">
      <nav role="navigation">
        <div class="py-3 text-center border-bottom">
           <img src="{% static 'logo/spotmytown.png' %}" alt="" class="invert" style="width:250px;">

        </div>
      </nav>
      <div class="navbar-expand-md">
        <div class="navbar-dark text-center my-2">
          <button class="navbar-toggler w-75" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span><span class="align-middle">Menu</span>
          </button>
        </div>
        <div class="text-center mt-3 collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto ">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'home'%}">Home</a>
            </li>
               <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'restaurant' %}">Restaurant</a></li>
                <li><a class="dropdown-item" href="{% url 'bar'%}">Bar</a></li>
                <li><a class="dropdown-item" href="{% url 'tourisme' %}">Tourisme</a></li>
                <li><a class="dropdown-item" href="{% url 'nightClubs'%}">Nigh Clubs</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                {% if not user.is_authenticated %}
              <a class="nav-link" href="{% url 'error_login' %}">Créer un post</a>
                 {%else%}
              <a class="nav-link" href="{% url 'formPost' %}">Créer un post</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout'%}">Déconnexion</a>
                <li class="user-profile end ">
								<a href="{% url 'logout'%}"></a>
									<a href="{% url 'view_profile' %}">
        					<img src="{{ user.userprofile.profile_pic.url }}" alt="Photo de profil" class="rounded-circle" width="30" height="30">
    						</a>
								<span>{{ user.username }}</span>

                {% else %}
              <a class="nav-link" href="{% url 'login'%}">Connexion</a>
                {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>

<section class="header">
    <div class="site-cover site-cover-sm same-height overlay single-page"
        style=
        "background-image: url('{% static 'image/resto.jpg' %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 30em;">

        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-4">
                    <div class="post-entry text-center" style="margin-top:120px;">
                        <h1 class="mb-6">Don’t assume your user</h1>
                        <div class="post-meta align-items-center text-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="row blog-entries element-animate">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="post-content-body">
                    <h1 class="text-center text-uppercase">{{ post.title }}</h1>
                    <hr class="custom-separator">
                    <h3 class="lead-sous-title">{{ post.subtitle }}</h3>
                    <div class="row my-4">
                        <div class="col-md-12 mb-4">
                            <img src="{{ post.imagen_posts.url }}"  width="{{ post.image_width }}" height="{{ post.image_height }}" alt="{{ post.title }}" style="border-radius: 20px" class="img-fluid rounded">
                            <div class="meta">{{ post.created_at|date:"d F, Y" }}</div>
                            <div class = "col-3 d-flex">
                                {% for i in "12345" %}
                                {% with rating=forloop.counter %}
                                    <span class="fa fa-star{% if rating <= average_rating %} fa-star-filled{% endif %}"></span>
                                {% endwith %}
                            {% endfor %}
                                <p class="votes">{{ rating_count }} votes</p>
                            </div>
                        </div>
                        <hr class="custom-separator">
                        <p class="lead">{{ post.description }}</p>
                    </div>
                    <div class="pt-5">

                            <p>Categories: {{ post.categorie }}</p>
                        </div>

                   <div class="pt-5 comment-wrap">
                        <div class="texte">
                            <h3 class="mb-5 heading">{{ comments.count }} Commentaire</h3>
                        </div>
                        <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#commentList" aria-expanded="false">
                            Voir les commentaires
                        </button>
                        <ul class="comment-list collapse" id="commentList">
                            {% for comment in comments %}
                            <li class="comment">
                                <div class="vcard">
                                    <img src="{{ comment.user.userprofile.profile_pic.url }}"
                                        alt="{{ post.user.username }}" class="rounded-circle" width="50" height="50">
                                </div>
                                <div class="comment-body">

                                    <h3>{{ comment.user.username }}</h3>
                                    <div class="meta">{{ comment.created_at|date:"F d, Y \a\t H:iA" }}</div>

                                    <p>{{ comment.text }}</p>
                                    <p><a href="#" class="reply rounded" data-bs-toggle="collapse" data-bs-target="#replyForm-{{ comment.id }}">Reply</a></p>
                                    <!-- formulaire de reponse  -->
                                    <div class="collapse" id="replyForm-{{ comment.id }}">
                                        <form method="post" action="{% url 'commentaire' post.id %}" class="p-5 bg-light">
                                            {% csrf_token %}
                                            <input type="hidden" name="parent_comment" value="{{ comment.id }}">
                                            <div class="form-group">
                                                <label for="reply-text-{{ comment.id }}">Repondre</label>
                                                <textarea name="text" id="reply-text-{{ comment.id }}" cols="30" rows="5"
                                                    class="form-control" required></textarea>
                                            </div>
                                            <div class="form-group">
                                                {% if not user.is_authenticated %}
                                                <p>Vous devez être connecté pour répondre à un commentaire. <a href="{% url 'login' %}">Connectez-vous ici</a>.</p>
                                                {% else %}
                                                <input type="submit" value="Poste une réponse" class="btn btn-primary">
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>

                <!-- reponse pour le commentaire  -->
                <ul class="comment-list">
                    {% for reply in comment.comment_set.all %}
                    <li class="comment">
                        <div class="vcard">
                            <img src="{{ reply.user.userprofile.profile_pic.url }}"
                                alt="{{ post.user.username }}" class="rounded-circle" width="50" height="50">
                        </div>
                        <div class="comment-body">
                            <h3>{{ reply.user.username }}</h3>
                            <div class="meta">{{ reply.created_at|date:"F d, Y \a\t H:iA" }}</div>
                            <p>{{ reply.text }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- formulaire de commentaire  -->
                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form method="post" action="{% url 'commentaire' post.id %}" class="p-5 bg-light">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for ="comment-text">Commentaire</label>
                                <textarea name="text" id="comment-text" cols="30" rows="5" class="form-control" required></textarea>
                            </div>
                            <div class="form-group">
                                {% if not user.is_authenticated %}
                                <p>Vous devez être connecté pour commenter. <a href="{% url 'login' %}">Connectez-vous ici</a>.</p>
                                {% else %}
                                <input type="submit" value="poster un commentaire" class="btn btn-primary">
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 sidebar">
    <div class="sidebar-box">
        <div class="row">
            <div class="col-3 d-flex justify-content-end">
                {%if user.is_authenticated and user == post.user %}
                <a href="{% url 'delete-post' post.id %}?next=/post/{{post.id}}" class="fas fa-trash fa-2x with-border"></a>
                {% endif %}
            </div>
            <div class="col-4 d-flex justify-content-end">
                {% if user.is_authenticated and user == post.user %}
                <a href="{% url 'update-post' post.id %}" class="fas fa-edit fa-2x with-border"></a>
                {% endif %}
            </div>
        </div>
    </div>

                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="{{ post.user.userprofile.profile_pic.url }}" alt="{{post.user.username}}" class="rounded-circle" width="150" height="150" >
                        <div class="bio-body">
                            <h2 class = "mb-2" style="margin-top: 20px;">{{ post.user.username }}</h2>
                            <p class="mb-4">{{ post.user.userprofile.bio }}</p>
                            <p><a href="{% url 'view_profile' %}" class="btn btn-primary btn-sm rounded px-2 py-2">Read my bio</a></p>

                        </div>
                    </div>
                </div>

               <div class="sidebar-box">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        <li><a href="{% url 'restaurant' %}">Restaurant <span>({{ category_counts.restaurant }})</span></a></li>
                        <li><a href="{% url 'bar' %}">Bar <span>({{ category_counts.bar }})</span></a></li>
                        <li><a href="{% url 'tourisme' %}">Tourisme <span>({{ category_counts.tourisme }})</span></a></li>
                        <li><a href="{% url 'nightClubs' %}">Night Clubs <span>({{ category_counts.night_clubs }})</span></a></li>

                    </ul>
                </div>

                <div class="row">
                    <div class="card">
                 <div class="card-body text-center">
                  <span class="myratings">{{ average_rating|default:"0.0" }}</span>
                <h4 class="mt-1">Evalouer posts</h4>
                <form method="post" action="{% url 'post_rating' post.id %}" >
                         {% csrf_token %}
                     <fieldset class="rating ">
                         <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                         <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                         <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                         <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                         <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                         <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                         <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                         <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                         <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                         <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                         <input type="radio" class="reset-option" name="rating" value="reset" />
                     </fieldset>
                    {% if not user.is_authenticated %}
                    <p class="mt-2">Vous devez être connecté pour evaluer un post. <a href="{% url 'login' %}">Connectez-vous ici</a>.</p>
                    {% else %}
                    <button class = "btn btn-primary btn-sm rounded px-2 py-2">Submit Rating</button>
                    {% endif %}
                    </form>
                 </div>
            </div>
        </div>
        </div>
    </div>
</div>
 </section>

    <section class="section posts-entry posts-entry-sm bg-light">
            <div class="container">
                  <div class="row mb-4">
                    <div class="col-12 text-uppercase text-black">posts relatione avec {{ post.title }}</div>
                </div>
                <div class="row">
                    {% if similar_posts %}
                    {% for related_post in similar_posts %}
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-entry">
                            <a href="{% url 'post' related_post.id %}" class="img-link">
                                <img src="{{ related_post.imagen_posts.url }}" alt="{{ related_post.title }}" class="img-fluid" style="width: 300px; height: 250px;">
                            </a>
                            <div class="blog-entry-text">
                                 {% for i in "12345" %}
                                 {% with rating=forloop.counter %}
                                    <span class="fa fa-star{% if rating <= average_rating %} fa-star-filled{% endif %}"></span>
                                {% endwith %}
                                {% endfor %}
                                </div>
                                <h4 class = "text-uppercase text-black"><a href="{% url 'post' related_post.id %}">{{ related_post.title }}</a></h4>
                                <span class="post-meta mb-2 d-block">{{ related_post.created_at|date:"F d, Y" }}</span>
                                <h5 class="mb-4">{{ related_post.subtitle }}</h5>
                                <p><a href="{% url 'post' related_post.id %}" class="btn btn-primary btn-sm">Read More</a></p>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>Pas d'articles similaires.</p>
                    {% endif %}
                </div>
            </div>
        </section>


<footer class="site-footer" style="background-color: #072D60">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h5>Red social</h5>
                <ul class="list-unstyled social-icons">
                    <li><a href="#"><i class="fab fa-instagram fa-3x"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter fa-3x"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook fa-3x"></i></a></li>
                </ul>
            </div> <!-- /.col-lg-4 -->

            <div class="col-12 text-center">
                <img src="{% static 'logo/spotmytown1.png' %}" alt="Logo" style="max-width: 300px;">
            </div>
        </div> <!-- /.row -->

        <div class="footer-basic">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'home'%}">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>

            <p class="copyright">Spotmytown© 2023</p>
        </div>
    </div> <!-- /.container -->
</footer> <!-- /.site-footer -->



{% endblock %}
