{% extends 'main/main_categorie.html' %}
{% load static %}
{% block content %}

<style>

#mainNavigation a {
      font-family: 'Cabin', sans-serif;
      font-size:14px;
      text-transform:uppercase;
      letter-spacing:2px;
      text-shadow:1px 1px 2px rgba(0,0,0,0.6)

    }

    .dropdown-menu {
      background:#03727d
    }
    a.dropdown-toggle {
      color:#dfdfdf !important
    }
    a.dropdown-item:hover {
      color:#03727d !important
    }
    .nav-item a{
      color:#dfdfdf;
    }
    .nav-item a:hover {
      color:#fff
    }
    .nav-item{
      min-width:12vw;
    }
    #mainNavigation {
      position:fixed;
      top:0;
      left:0;
      width:100%;
      z-index:123;
      padding-bottom:120px;


      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }
    #navbarNavDropdown.collapsing .navbar-nav,
    #navbarNavDropdown.show .navbar-nav{
      background:#037582;
      padding:12px;
    }

}

           .user-profile span {
            font-family: 'Cabin', sans-serif;
            letter-spacing:2px;
             font-weight: bold;
             margin-top: 10px;
             color: #fff;

           }

           .user-profile {
             position: absolute;
             top: 0;
             right: 0;
             margin-right: 32px;
             margin-top: 32px;
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: column;
             text-align: center;
             cursor: pointer;
           }

           .user-profile span {
            font-family: 'Cabin', sans-serif;
            letter-spacing:1px;
            margin-top: 5px;
            color: #fff;

           }

           .user-profile img {
             border: 0.5px solid ;
           }

          .user-posts{
            margin-top: 10px;
         }
         .fa-star-filled {
            color:#FFD700 ;
         }

        .search{
           position: relative;
           box-shadow: 0 0 40px rgba(51, 51, 51, .4);
           width:200%;
           background:white;
           border-radius: 10px;
           right: 50%;


       }

       .search input{
            height: 60px;
            text-indent: 40px;
            border: 1px solid #d6d4d4;
            border-radius: 10px;
        }

      .search .fa-search{
            position: absolute;
            top: 23px;
            left: 16px;
            color: #d6d4d4;

       }

       .search button{
            position: absolute;
            top: 5px;
            right: 4px;
            height: 50px;
            width: 100px;
            border-radius:  10px ;
            color: white;
            border: none;
        }

@media (max-width: 768px) {
    .search {
         width: 195%;
        right: 48%;
    }
    .search button {
        width:auto;
    }

    .user-profile span {
            color:black;
    }
}

</style>




  <div id="mainNavigation">
      <nav role="navigation">
        <div class="py-3 text-center border-bottom">
         <img src="{% static 'image/spotmytown.png' %}" alt="" class="invert">

        </div>
      </nav>
      <div class="navbar-expand-md">
        <div class="navbar-dark text-center my-2">
          <button class="navbar-toggler w-75" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
          </button>
        </div>
        <div class="text-center mt-3 collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto ">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'home'%}">Home</a>
            </li>
               <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'restaurant' %}">Restaurant</a></li>
                <li><a class="dropdown-item" href="{% url 'bar'%}">Bar</a></li>
                <li><a class="dropdown-item" href="{% url 'tourisme' %}">Tourisme</a></li>
                <li><a class="dropdown-item" href="{% url 'nightClubs'%}">Nigh Clubs</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                {% if not user.is_authenticated %}
              <a class="nav-link" href="{% url 'error_login' %}">Créer un post</a>
                 {%else%}
              <a class="nav-link" href="{% url 'formPost' %}">Créer un post</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout'%}">Déconnexion</a>
                <li class="user-profile end ">
								<a href="{% url 'logout'%}"></a>
									<a href="{% url 'view_profile' %}">
        					<img src="{{ user.userprofile.profile_pic.url }}" alt="Photo de profil" class="rounded-circle" width="30" height="30">
    						</a>
								<span>{{ user.username }}</span>

                {% else %}
              <a class="nav-link" href="{% url 'login'%}">Connexion</a>
                {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>

  <div class="p-5 text-center bg-image"
    style="
      background-image: url('{% static 'image/imagine1.jpeg' %}');
       background-size: cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
       height: 40em;

    "
  >
     <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
        <h1 class="mb-3">Tourisme</h1>
        <h4 class="mb-3">Partagez vos meilleurs moments gourmets</h4>
        <div class="container d-flex justify-content-center">
            <div class="container">
                    <div class="row height d-flex justify-content-center align-items-center">
                        <div class="col-md-8">
                            <div class="search">
                          <i class="fa fa-search"></i>
                          <input type="text" class="form-control" placeholder="Trouvez les mieux lieux">
                          <button style="background-color: #072D60; color: white;">Search</button>
                        </div>

                      </div>

                    </div>
                </div>
    </div>
</div>
  </div>
</div>


<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in posts %}
        {% if forloop.counter0|divisibleby:3 %}
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-md-12 mt-4">
                <hr class="my-4">
            </div>
        {% endif %}
        <div class="col mb-4">
            <div class="col-sm-6">
                <h2 class="posts-entry-title">{{ post.title }}</h2>
            </div>
            <div class="blog-entry">
                <img src="{{ post.imagen_posts.url }}" width="{{ post.image_width }}" height="{{ post.image_height }}" alt="{{ post.title }}" style="border-radius: 10px">

                  <span class="date">{{ post.created_at|date:"F d, Y" }}</span>
                    <div class ="rating">
                    {% for i in "12345" %}
                    {% with rating=forloop.counter %}
                        <span class="fa fa-star{% if rating <= post.average_rating %} fa-star-filled{% endif %}"></span>
                    {% endwith %}
                    {% endfor %}
                    </div>


               <a href="{% url 'view_profile' %}">
                <p class="user-posts">
                    <img src="{{ post.user.userprofile.profile_pic.url }}" alt="Photo de profil" class="rounded-circle" width="30" height="30">
                    <span class="username">{{ post.user.username }}</span>
                </p>
                </a>
                <h2><a href="{% url 'post' post.id %}">{{ post.subtitle }}</a></h2>
                <p><a href="{% url 'post' post.id %}" class="btn btn-sm btn-outline-primary">Lire</a></p>
            </div>
            <div class="col mb-4"></div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}
