{% load i18n %}

{% blocktrans %}
Vous recevez cet e-mail parce que vous avez demandé une réinitialisation de mot de passe pour votre compte sur [Nom de votre site].
{% endblocktrans %}

{% blocktrans %}
Cliquez sur le lien suivant pour réinitialiser votre mot de passe :
{% endblocktrans %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% blocktrans %}
Ce lien de réinitialisation du mot de passe expirera dans {{ timeout }} heures.
{% endblocktrans %}

{% blocktrans %}
Si vous n'avez pas demandé de réinitialisation de mot de passe, veuillez ignorer cet e-mail.
{% endblocktrans %}
