{% extends 'main/main_register.html' %}
{% load static %}
{% block content %}

<style>
  body{margin-top:0px;}
.cover-background {
    position: relative !important;
    background-color: #5D8AA8; /* Changer la couleur de fond en blanc */
    overflow: hidden !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.p-0 {
    padding: 0!important;
}
section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}

.success {
    background-color: #fff;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(234,234,235,0.2);
    padding: 80px 20px;
}
.text-center {
    text-align: center!important;
}
.success h1 {
    font-size: 65px;
    line-height: 1;
    font-weight: 600;
}
.text-secondary {
    color: #15395A !important;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}

 @media (max-width: 768px) {
    .success h1 {
      font-size: 3.5em; /* Ajustez la taille de la police pour les écrans plus petits */
    }
  }
</style>

<section class="p-0 bg-img cover-background">
    <div class="container-fluid d-flex flex-column ">
        <div class="row align-items-center  justify-content-center min-vh-100">
            <div class="col-md-9 col-lg-6 my-5 ">
                <div class="text-center success">
                    <h1 class="mb-4 text-primary fa fa-thumbs-up animate__animated animate__wobble"></h1>
                    <h1 class="mb-4 text-primary">Felicitations</h1>
                    <h2 class="mb-4 text-grey ">Vous êtes désormais enregistré.</h2>
                    <p class="w-sm-80 mx-auto mb-4 text-black">Nous vous souhaitons la bienvenue dans la communauté de Petit Glouton. Vous pouvez vous connecter et commencer votre expérience. N'oubliez pas de partager vos publications pour guider les autres visiteurs vers une expérience gastronomique inoubliable dans la ville de Nantes  </p>
                    <div>
                        <a href="{% url 'login' %}" class="btn btn-primary btn-lg me-sm-2 mb-2 mb-sm-0">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
