{% extends 'main/main_register.html' %}
{% load static %}
{% block content %}


<section class="p-0 bg-img cover-background" style="background-color:#072D60">
    <div class="container-fluid d-flex flex-column ">
        <div class="row align-items-center  justify-content-center min-vh-100">
            <div class="col-md-9 col-lg-6 my-5 ">
                <div class="text-center success">
                    <div class = "text-center">
                        <i class="fas fa-thumbs-up fa-4x animate__animated animate__tada" style="color:#CB6CE6; margin-bottom: 20px;"></i>
                        </div>

                            <h1 class="mb-4">Vérification réussie !</h1>
                            <h2 class="mb-4 text-grey">Votre adresse email a été vérifiée avec succès.</h2>
                            <p class="w-sm-80 mx-auto mb-4 text-black">Vous pouvez maintenant accéder à votre compte.</p>
                         <div class="text-center">
                            <a href="{% url 'login' %}" class="btn my-button">Se connecter</a>
                         </div>
                    </div>
                </div>
            </div>
        </div>

</section>
{% endblock content %}



