{% extends 'main/main_error_login.html' %}
{% load static %}
{% block content %}


<section class="p-0  cover-background" >
    <div class="container-fluid d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-9 col-lg-6 my-3">
                <div class="text-center error-page">
                    <h1 class = "mb-0 smile-icon fa fa-frown" style="color:#CB6CE6;"></h1>
                    <h1 class="mb-4" style="color:#072D60;">Oups!</h1>
                    <h2 class="mb-4 text-grey ">Vous devez être connecté pour réaliser cette action!</h2>
                    <p class="w-sm-80 mx-auto mb-4 text-black">Pour realiser une action vous devrais etre connecter si vous n'avez pas une compte vous pouver la cree en rentren a login sino vous pouvais retourne a home </p>
                    <div>
                        <a id="changeSmileyButton" href="{% url 'login' %}" class="btn the-button btn-lg me-sm-2 mb-2 mb-sm-0">Login</a>
                        <a href="{% url 'home' %}" class="btn my-button btn-lg me-sm-2 mb-2 mb-sm-0">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
